@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  --orange: #f87070;
  --cyan: #70f3f8;
  --purple: #d881f8;
  --light-blue: #d7e0ff;
  --dark-blue: #1e213f;
  --darker-blue: #161932;
  --white: #ffff;
  --beige: #eff1fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--dark-blue);
  color: #f0f0f0;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 60px;
  font-size: 2.5rem;
  text-transform: lowercase;
  letter-spacing: 1px;
}

nav {
  background-color: var(--darker-blue);
  z-index:999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 6px;
  margin-bottom: 30px;
}

nav > div {
  padding: 15px 24px;
  letter-spacing: 0.7px;
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 40px;
  text-transform: lowercase;
  color: rgba(240, 240, 240, 0.6);
}

nav > div:hover {
  cursor: pointer;
}

nav > .active {
  background: #f97070;
  color: #070811;
}

.clock {
  margin-top: 40px;
  font-size: 3.7rem;
}

.clock > .outer_circle {
  width: 500px;
  height: 500px;
  display: flex;
  border-radius: 50%;
  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
}

.outer_circle > .inner_circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 450px;
  height: 450px;
  background-color: var(--darker-blue);
  border-radius: 50%;
}

#ring {
  position: relative;
  align-self: center;
  width: 470px;
  height: 470px;
}

#ring > circle {
  fill: transparent;
  stroke: #f97070;
  stroke-width: 10;
  stroke-dasharray: 1260;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}

.text {
  position: absolute;
  text-align: center;
}

#control {
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: 40px;
}

#control:hover {
  cursor: pointer;
}

i {
  margin-top: 50px;
  color: rgba(240, 240, 240, 0.5);
}

/* Modal */
.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 60%;
  height: 70%;
  margin: 10% auto;
  border-radius: 30px;
  color: black;
}

.hide {
  display: none;
}
